/* == GLOBAL ==*/
/* == BTN ==*/
/* == Header ==*/
/* == Home ==*/
/* == Why it works ==*/
/* == Products ==*/
/* == Footer ==*/
/* == Modal ==*/
/* == 404 page and Modal== */
/* == Media== */

@font-face {
  font-family: 'Frutiger-Roman';
  src: url('./fonts/Frutiger_Roman.ttf') format("truetype");
} 
@font-face {
  font-family: 'Frutiger';
  src: url('./fonts/Frutiger_Normal.ttf') format("truetype"),
       url('./fonts/Frutiger_Normal.woff') format('woff');
  font-weight: normal;
	font-style: normal;
} 

/* ============ Global ========== */
body{
  font-family: 'Frutiger-Roman';
  color: #0000;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
p{
  margin: 0;
}
img{
  width: 100%;
  height: auto;
  position: relative;
}
a{
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.no-p{
  padding: 0;
}
.no-m{
  margin: 0;
}
.cur-p{
  cursor: pointer;
}
.over-hidden{
  overflow: hidden;
}
.mobile-show{
  display: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.breadcrumbs{
  font-family: 'Frutiger-Roman';
  font-size: 15px;
  color: #4a4a4a;
}
h1{
  font-family: 'Frutiger-Roman';
  font-size: 52px;
}

h2{
  font-family: 'Frutiger';
  font-size: 52px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: -2px;
  text-align: center;
  color: #ffffff;
}
h3{
  font-family: 'Frutiger';
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
}
h4{
  font-family: 'Frutiger';
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}
h5{
  font-family: 'Frutiger';
  font-size: 52px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: -2px;
  text-align: left;
  color: #4a4a4a;
}
h6{
  font-family: 'Frutiger';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
}

.color-white{
  color: #fff;
}
.color-black{
  color: #000;
}
.color-grey{
  color: #4a4a4a;
}
.color-blue{
  color: #003e7e;
}
.product-blue{
  color: #00aeef;
}
.product-purple{
  color: #92278f;
}
.product-orange{
  color: #f7941d;
}
.product-green{
  color: #39b54a


}
.bg-white{
  background-color: #fff;
}
section{
  width: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}

select::-ms-expand {
  display: none;
}
nput::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}
input::-moz-placeholder { /* Firefox 19+ */

}
input:-ms-input-placeholder { /* IE 10+ */

}
input:-moz-placeholder { /* Firefox 18- */

}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}
textarea::-moz-placeholder { /* Firefox 19+ */

}
textarea:-ms-input-placeholder { /* IE 10+ */

}
textarea:-moz-placeholder { /* Firefox 18- */

}
/* ========== End Global ======= */

/* =========== BTN ============= */
.btn{
  cursor: pointer;
  position: relative;
  font-family: 'Frutiger';
}
.btn.btn-product{
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background-color: #5d85ae;
  height: 42px;
  width: 300px;
}
.btn-qty,
.btn-add{
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  height: 60px;
  padding: 0 30px;
}
.btn-qty{
  font-family: 'Frutiger-Roman';
  color: #4a4a4a;
  background-color: #c9d6e4;
  margin-right: 18px;
}
.btn-add{
  color: #fff;
  background-color: #5d85ae;
}
.btn.btn-product + .btn.btn-product{
  margin-top: 20px;
}
.btn.btn-product:hover{

}

/* =========== END BTN ========== */

/* ============= Header ========== */

header{

}
.header-top{
  height: 68px;
  background-image: linear-gradient(to top, #275c93, #003e7e);
}
.header-top p{
  font-family: 'Frutiger-Roman';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
  padding: 20px 0px;
}
.header-top .phone{
  margin-left: 30px;
}
.header-top .account{
  position: relative;
}
.header-top .icon-header{
  position: relative;
  top: -2px;
  margin-left: 8px;
}
.header-top .icon-header img{
  height: 21px;
  width: auto;
}
.header-top .account-card{
  margin-left: 70px;
}
.header-bottom{
  padding: 32px 0 23px;
  height: 125px;
}
.logo{
  width: 267px;
  height: auto;
  padding: 0;
  margin: 0;
}
.navbar, .navbar-brand{
  padding: 0;
}
.navbar-brand{
  margin-right: 0;
}  
.nav-item{
  margin-left: 75px;
  font-family: 'Frutiger';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
}
.nav-item.nav-md-hide{
  display: none;
}
.navbar-nav{
  margin-top: 15px;
}
.home-slide-img{
  position: relative;
  min-height: 725px;
  width: auto;
  overflow: hidden;
}

.home-slide-img .wave{
  position: absolute;
  z-index: 2;
  top: 220px;
  opacity: 0.7;
}
.home-slide-bg{
  position: absolute;
  width: 100%;
  max-height: 725px;
  overflow: hidden;
}
.top-home .slide-content{
  margin-top: 152px;
  max-width: 620px;
  margin-left: 35px;
}

.top-home .slide-content h1{
  font-family: 'Frutiger';
  font-size: 52px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}
.top-home .slide-content p{
  font-family: 'Frutiger-Roman';
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}
.top-home .slick-prev, 
.top-home  .slick-next{
  top: 300px;
  border: 0;
}
.top-home .slick-prev {
  left: 0;
}
.top-home .slick-next{
  right: 0;
}
.top-home .slick-prev:before,
.top-home .slick-next:before{
  font-size: 45px;
  color: #d8d8d8;
}
.top-home .btn-shop{
  width: 248px;
  height: 54px;
  border-radius: 5px;
  background-color: #53cdf5;
  margin-top: 44px;
  font-family: 'Frutiger-Roman';
  font-size: 22px;
  color: #fff;
  position: relative;
  z-index: 3;
}
.top-home .slick-dots {
  bottom: 62px;
}
.slick-dots li button:before{
  font-size: 12px;
  color: #d8d8d8;
}
.slick-dots li.slick-active button:before{
  opacity: 1;
  font-size: 15px;
  color: #d8d8d8;
}
/* ============= End Header============= */

/* ============= Home ================== */
.two-box {
  padding: 62px 0 56px;
}
.two-box .circles{
  margin: 0 auto 42px;
  position: relative;
}
.two-box .circle {
  margin: 0 auto 20px;
  position: relative;
}
.two-box .circles span{
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 3px;
}
.two-box .circle span{
  display: inline-block;
  width: 112px;
  height: 112px;
}
.two-box .box-wrap{
  background-color: #f4f4f4;
  border: solid 2px #f4f4f4;
  padding: 41px 72px 35px;
}
.two-box .two-box-btn{
  font-family: 'Frutiger';
  font-size: 16px;
  font-weight: bold;
}
.two-box-text{
  margin: 20px 0 42px;
  font-family: 'Frutiger-Roman';
  font-size: 16px;
  line-height: 1.56;
}
.two-box .two-box-btn i{
  margin-left: 12px;
  font-size: 16px;
}
.benefits .container{
  padding: 0;
}
.benefits{
  padding: 52px 0 90px;
  background-image: linear-gradient(to bottom, #275c93, #003e7e 48%, #275c93);
}
.benefits-wrap{
  margin-top: 56px;
}
.benefits-item{
  margin: 0 25px;
}
.benefits-item-img{
  position: relative;
}
.benefits-item p{
  font-family: 'Frutiger-Roman';
  font-size: 20px;
  margin-top: 44px;
}
.benefits-item-title{
  position: absolute;
  right: -1px;
  width: 60%;
  background-color: rgba(86, 78, 78, 0.56);
  bottom: 120px;
  padding: 3px 8px;
}
.benefits-item-title p{
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}
.benefits-item-title p:last-child{
  font-size: 13px;
}
.products{
  padding: 86px 0 81px;
  position: relative;
  background-color: #fff;
}
.product-slider{
  margin-top: 76px;
}
.product-slide-wrap{
  max-width: 256px;
  border: 2px solid #f4f4f4;
  margin: 0 auto;
}
.product-slide-img{
  padding: 10px 15px 0;
  background-color: #fff;
}
.product-slide-content{
  padding: 25px 10px 19px;
  background-color: #f4f4f4;
}
.products .product-name{
  font-family: 'Frutiger';
  font-size: 24px;
  font-weight: bold;
}
.products .product-price{
  font-family: 'Frutiger-Roman';
  font-size: 20px;
  font-weight: normal;
}
.products .products-bg{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 50px;
}
.slick-prev, .slick-next {
  width: 60px;
  height: 60px;
  border: solid 2px #d8d8d8;
  z-index: 2;
  top: 40%;
  border-radius: 50%;
}
.slick-prev:before, .slick-next:before{
  color: #275c93;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
  opacity: .6;
}
.slick-prev:before{
  content: "\f104";
}
.slick-next:before{
  content: "\f105";
}
.testimonials{
  padding: 31px 0 72px;
}
.testimonials-slider{
  margin-top: 40px;
  width: 150%;
  position: relative;
  margin-left: -25%;
}
.testimonials-slide{
  padding: 0 35px;
  opacity: 0.5;
}
.testimonials-slide.slick-current + .slick-active{
  opacity: 1;
}
.testimonials-slide-wrap{
  margin: 0 auto;
  border: solid 2px #f4f4f4;
}
.testimonials-slide-top{
  position: relative;
  padding: 18px 21px;
  background-color: #f4f4f4;
}
.testimonials-slide-bottom{
  padding: 42px 24px 24px 29px;
  min-height: 198px;
}
.testimonials-slide-bottom p{
  font-family: 'Frutiger';
  font-size: 20px;
  font-weight: 300;
}
.testimonials-slide-top .triangle{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 18.5px 0 18.5px;
  border-color: #f4f4f4 transparent transparent transparent;
  left: 50%;
  bottom: -20px;
}
.testimonials-slide-top .star{
  font-family: 'Frutiger';
  font-size: 24px;
}
.testimonials-slide-top p{
  font-family: 'Frutiger';
  font-size: 20px;
  font-weight: bold;
}
/* =========== End Home =============== */

/* ============= Why it works ==========*/
.why-it-wrap{
  max-width: 1140px;
  margin: 0 auto;
}
.why-it-works .content-full-img{
  position: absolute;
  width: 100%;
  height: auto;
}
.why-it-works .content-full-img img{
  min-height: 420px;
  width: auto;
}    
.why-it-works-top{
  padding: 59px 0 100px;
}
.why-it-works-top h1{
  font-family: 'Frutiger';
  line-height: 1.12;
  letter-spacing: -2px;
  margin: 111px 0 18px;
}
.why-it-works-top p{
  font-family: 'Frutiger-Roman';
  font-size: 20px;
  line-height: 1.5;
}
.why-it-works-content{
  padding: 183px 0 0px;
}
.two-box-content h4{
  margin: 50px 0 20px;
}
.two-box-content{
  margin: 0 0 107px;
}  
.two-box-content p{
  font-family: 'Frutiger-Roman';
  font-size: 20px;
  line-height: 1.5;
}
.two-box-content p + p{
  margin-top: 30px;
}
.why-it-works-content-full {
  position: relative;
  overflow: hidden;
}
.why-it-works-content-full .content-full-img{
  position: absolute;
  width: 100%;
  height: auto;
}
.why-it-works-content-full .content-full-img img{
  min-height: 500px;
  width: auto;
}
.why-it-works-content-full h5{
  max-width: 822px;
  padding: 316px 0 68px;
}
/* =============END Why it works ==========*/

/* ============= Products ==============*/
.product-section{
  background: rgba(216,216,216,1);
  background: -moz-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(216,216,216,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216,216,216,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(68%, rgba(255,255,255,1)), color-stop(100%, rgba(216,216,216,1)));
  background: -webkit-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(216,216,216,1) 100%);
  background: -o-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(216,216,216,1) 100%);
  background: -ms-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(216,216,216,1) 100%);
  background: linear-gradient(to bottom, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 68%, rgba(216,216,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#d8d8d8', GradientType=0 );
  position: relative;
  }
.product-section .breadcrumbs{
  padding: 60px 0;
}
.product-section-slider{
  max-width: 555px;
}
.product-section .product-section-wave{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 180px;
}
.product-section h1{
  font-weight: 300;
  color: #4a4a4a;
  line-height: 1.12;
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 22px;
}
.product-section h1 span{
  font-weight: 300;
  line-height: 1.12;
  letter-spacing: -0.5px;
  font-weight: bold;
}
.product-section h1 sup{
  font-size: 14px;
  font-weight: 300;
  top: -27px;
  left: -8px;
}
.product-section-price{
  font-size: 32px;
  font-weight: 300;
  line-height: 1.19;
  letter-spacing: normal;
}
.product-section .promotional{
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  margin: 30px 0 ;
}
.product-section .product-description{
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
}
.product-section .product-section-btn{
  margin-top: 65px;
}
.slider-for{
  padding: 30px 120px;
  border-radius: 4px;
  border: solid 3px #f4f4f4;
  background-color: #ffffff;
}
.slider-nav{
  margin: 20px 0 17px;
}
.product-section .slider-nav .slick-slide{
  padding: 15px 15px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 3px #f4f4f4;
  margin: 0 10px;
}
.product-details{
  padding: 63px 0 35px;
}
.product-details table{
  max-width: 380px;
  margin-top: 30px;
  border: 0;
  font-family: 'Frutiger-Roman';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
}
.product-details .table td, 
.product-details .table th{
  border: 0;
  padding: 0;
}
.product-details h3{
  margin: 10px 0 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.product-details h6{
  margin: 50px 0 24px;
  text-transform: uppercase;
}
.product-details p{
  font-family: 'Frutiger-Roman';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
}
/* =============END Products ==============*/

/* ============= Footer =============== */
footer{
  background-image: url('../img/footer_background_2x.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-top{
  padding: 79px 0 89px;
}
.footer-top .center-block{
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
footer .input-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.8;
  font-family: 'Frutiger-Roman';
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #4a4a4a;
}
footer .input-group .form-control::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.8;
  font-family: 'Frutiger-Roman';
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #4a4a4a;
}
footer .input-group .form-control:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.8;
  font-family: 'Frutiger-Roman';
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #4a4a4a;
}
footer .input-group .form-control:-moz-placeholder { /* Firefox 18- */
  opacity: 0.8;
  font-family: 'Frutiger-Roman';
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #4a4a4a;
}
footer .input-group{
  display: inline-flex;
  width: 480px;
}
.footer-top .subscribe-form{
  max-width: 306px;
  height: 46px;
  border-radius: 4px !important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  margin-right: -1px;
}
footer .form-control+.input-group-addon:not(:first-child) {
  height: 46px;
  width: 177px;
  font-family: 'Frutiger';
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #5d85ae;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer .newsletter{
  font-family: 'Frutiger';
  font-size: 32px;
  font-weight: 300;
  line-height: 1.19;
  color: #fff;
  margin-right: 51px;
  margin-top: 5px;
}
.footer-bottom{
  padding: 56px 0 103px;
  font-family: 'Frutiger-Roman';
  color: #fff;
}
.footer-bottom p {
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: normal;
  color: #f4f4f4;
}
.footer-bottom-title{
  font-family: 'Frutiger';
  font-size: 16px;
  font-weight: bold;
  line-height: 1.19;
  margin-bottom: 16px;
}
.footer-bottom .social a{
  font-size: 16px;
  margin-right: 24px;
}
.footer-bottom .social a:last-child{
  margin:0;
}
.footer-bottom .rights{
  position: absolute;
  right: 15px;
  bottom: 0;
}

/* =============End Footer ======= */

/* ======== 404 page and Modal ============= */
.page404{
  
}
/* ======== End 404 page and Modal ========= */


/* ================== Media ================= */
@media screen and (max-width: 1780px){
  
}
@media screen and (max-width: 1700px){
  
}
@media screen and (max-width: 1570px){
  
}
@media screen and (max-width: 1499px){
  
}
@media screen and (min-width: 1399px){
  .container{
    width: 1300px;
  }
}
@media screen and (max-width: 1399px){
  .header-top p{
    font-size: 13px;
  }
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1398px) {
  .container{
    width: 1200px;
  }
}
@media screen and (max-width: 1239px){
  .two-box .circles span {
    display: inline-block;
    width: 70px;
    height: 70px;
  }
  .two-box .circle span {
    width: 98px;
    height: 98px;
  }    
  .two-box h3{
    min-height: 76px;
  }
  .two-box .circles span {
    width: 60px;
    height: 60px;
  }  
}
@media screen and (max-width: 1199px){
  .two-box .circle,
  .two-box .circles{
    height: 100px;
    margin-bottom: 20px;
  }
  .hide-mobile{
    display: none;
  }
  .home-slide-img{
    min-height: 600px;
  }
  .two-box-content h4 {
    margin: 0 0 20px;
  }
  .btn.btn-product{
    width: 100%;
  }
}
@media screen and (max-width: 1149px){
  .home-slide-img {
    min-height: 550px;
  }
}
@media screen and (max-width: 991px){
  .slider-for {
    padding: 10px 20px;
  }
  .product-section .product-section-btn{
    margin: 30px 0;
  }
  .product-section .slider-nav .slick-slide{
    padding: 0;
  }
  .nav-link {
    padding: 5px 0;
    margin: 5px 0;
  }  
  .nav-item.nav-md-hide{
    display: block;
  }
  .navbar-nav{
    z-index: 5;
    position: relative;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 5px;
    top: 35px;
    border: 1px solid #275c93;
  }
  .header-bottom {
    padding: 14px 0 17px;
    height: 80px;
  }
  .navbar{
    top: -114px;
  }
  .navbar-brand {
    width: 188px;
    margin: 0 auto;
    display: block;
  }
  .navbar-toggler{
    color: #fff;
  }  
  .logo {
    width: 100%;
    height: auto;
  }    
  .two-box .box-wrap{
    margin-bottom: 24px;
  }
  .col-md-none{
    display: none;
  }
  .col-md-account{
    display: none;
  }
  footer .newsletter {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 0 15px;
  }
  footer .input-group {
    margin: auto;
    display: flex;
  }
  .footer-top {
    padding: 40px 0 10px;
  }
  .footer-bottom {
    padding: 28px 0 51px;
  }
  .social-row{
    width: 375px;
    margin: 0 auto;
  }
  .social-row p.text-right,
  .footer-bottom .bottom-rights.text-right{
   text-align: center!important;
  }
  .footer-bottom .social a {
    font-size: 29px;
    font-size: 40px;
  } 
  .footer-bottom .bottom-rights.text-right{
    margin-top: 20px;
  } 
}
@media screen and (max-width: 859px){
  
}
@media screen and (max-width: 767px){
  h2 {
    font-size: 36px;
    line-height: 1.61;
    letter-spacing: -1.4px;
  }
  h3{
    font-size: 22px;
    line-height: 1.73;
  }
  .btn-product .mobile-hide{
    display: none;
  }
  .btn-product .mobile-show{
    display: block;
  }
  .btn.btn-product{
    width: auto;
    background-color: inherit;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2px;
    color: #003e7e;
    border-bottom: solid 2px inherit;
  }
  .btn.btn-product.active{
    border-bottom: solid 2px #c9d6e4;
    border-radius: 0;
  }
  .btn.btn-product + .btn.btn-product{
    margin: 0;
  }
  .btn-qty {
    display: none;
  }
  .btn-add{
    width: 100%;
  }
  .product-details h3 {
    background-color: #275c93;
    color: #fff;
    padding: 12px;
    margin: 27px 0 21px;
    text-align: center;
  }
  .product-details h6{
    font-size: 16px;
    margin: 43px 0 13px;
    text-align: center;
  }
  .product-section .product-section-btn{
    margin: 20px 0;
  }
  .product-section {
    background: #fff!important;
  }
  .product-section h1{
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
  }
  .product-section h1 sup {
    top: -14px;
    left: -5px;
    font-size: 9px;
  }  
  .product-section .product-description{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.79;
  }
  .product-section .promotional{
    text-align: center;
    max-width: 245px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    margin: 24px auto;
    display: block;
  }
  .product-section-price{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  .product-section .slider-nav{
    display: none;
  }
  .product-section .slick-slide img{
    max-width: 300px;
    margin: 0 auto;
  }
  .product-section .slick-prev, 
  .product-section .slick-next{
    border: 0px;
  }
  .product-details p,
  .product-details table{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.79;
  }
  .product-details table{
    margin: 19px auto 0;
  }
  .details-btn-wrap{
    display: flex;
    justify-content: space-around;
    margin:0;
    border-bottom: solid 1px #c9d6e4;
  }
  .breadcrumbs{
    display: none;
  }
  .why-it-works-top {
    background-image: linear-gradient(to bottom, #d8d8d8, #ffffff 49%, #ffffff 86%, #f4f4f4);
    padding: 59px 0 25px;
  }
  .why-it-works .content-full-img img {
    min-height: 300px;
    max-height: 300px;
  }
  .why-it-works-top h1 {
    margin: 200px 0 26px;
    font-size: 30px;
    font-weight: bold;
    color: #fff!important;
  }
  .why-it-works-top p{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: normal;
    margin: 0 0 5px;
  }
  .why-it-works-content {
    padding: 21px 0 0px;
  }
  .two-box-content {
    margin: 0 0 20px;
}
  .two-box-content h4{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }
  .two-box-content p{
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b!important;
  }
  .two-box-content p + p {
    margin-top: 10px;
  }
  .lear-more{
    display: block;
    margin: 10px 0 18px;
  }
  .lear-more span{
    font-family: 'Frutiger';
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #53cdf5;
  }
  .lear-more i{
    margin-left: 5px;
  }
  .why-it-works-content-full .content-full-img {
    position: relative;
  }  
  .why-it-works-content-full .content-full-img img{
    width: 100%;
    min-height: auto;
    height: auto;
  }
  .why-it-works-content-full {
    background-color: #f4f4f4;
  }
  .why-it-works-content-full h5{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    padding: 20px 0;
  }
  .home-slide-img {
    min-height: 480px;
  }
  .navbar {
    top: -101px;
  }
  .header-top {
    height: 44px;
  }
  .header-top p {
    font-size: 12px;
    padding: 11px 0 0;
  }  
  .top-home .slide-content h1{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 5px;
    max-width: 182px;
  }
  .top-home .btn-shop{
    margin-top: 15px;
    width: 125px;
    height: 34px;
    font-size: 16px;
  }
  .top-home .slide-content p{
    font-size: 12px;
    max-width: 136px;
  }  
  .top-home .slide-content{
    margin-top: 50px;
    max-width: 420px;
  }
  .home-slide-img {
    min-height: 360px;
  }
  .top-home .slick-dots {
    bottom: 30px;
  }
  .top-home .slick-prev, .top-home .slick-next{
    top: 150px;
  }
  .two-box h3 {
    min-height: auto;
  }
  .two-box .circles span,
  .two-box .circle span {
    width: 50px;
    height: 50px;
  }
  .two-box-text{
    font-size: 12px;
    line-height: 1.5;
  }
  .two-box .circle, .two-box .circles {
    height: auto;
  }
  .two-box {
    padding: 13px 0 0;
  }
  .two-box .two-box-btn {
    font-size: 14px;
    font-weight: bold;
  }
  .two-box .box-wrap{
    padding: 22px 14px;
  }
  .two-box-text {
    margin: 5px 0 16px;
  }  
  .benefits {
    padding: 30px 0 50px;
  }
  .product-slider {
    margin-top: 20px;
  }
  .products .product-name,
  .products .product-price{
    font-size: 12px;
    font-weight: bold;
  }
  .product-slide-content{
    padding: 10px;
  }
  .benefits-item p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
  }  
  .benefits-wrap {
    margin-top: 0px;
  }
  .benefits .slick-prev, 
  .benefits .slick-next,
  .products .slick-prev, 
  .products .slick-next{
    border: 0;
  }
  .benefits .slick-prev:before, 
  .benefits .slick-next:before,
  .products .slick-prev:before, 
  .products .slick-next:before  {
    font-size: 40px;
    color: #d8d8d8;
  }
  .benefits .slick-prev,
  .products .slick-prev {
    left: -2px;
  }
  .benefits .slick-next,
  .products .slick-next{
    right: -2px;
  }
  .benefits-item-img{
    padding: 0 20px;
  }
  .products {
    padding: 40px 0 40px;
  }  
  .testimonials {
    padding: 15px 0 25px;
  }
  .testimonials-slider{
    width: 100%;
    margin: 0;
  }
  .testimonials-slide{
    opacity: 1;
    padding: 0;
  }
  .testimonials-slide-top .star,
  .testimonials-slide-bottom p{
    font-size: 14px;
  }
  .testimonials-slide-top p{
    font-size: 12px;
  }
  .testimonials-slide-bottom{
    min-height: 140px;
  }
  .testimonials .slick-prev, 
  .testimonials .slick-next{
    border: 0;
  }
  .slick-prev:before, 
  .slick-next:before{
    font-size: 40px;
    color: #d8d8d8;
  }
  .footer-bottom {
    padding: 0px 0 20px;
  }
  footer .newsletter {
    font-size: 22px;
    font-weight: 300;
  }
  .footer-bottom .footer-bottom-title {
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0 5px;
  }
  .footer-bottom p {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.67;
  }
  .footer-bottom .bottom-rights.text-right {
    font-size: 12px;
    font-weight: normal;  
  }
  .sync-mobile{
    position: absolute;
    top: 0;
  }
  .menu-mobile{
    margin-top: 140px;
  }
}
@media screen and (max-width: 700px){
  
}
@media screen and (max-width: 576px){
  footer .input-group{
    width: 100%;
  }
  .testimonials-slide-top .triangle{
    display: none;
  }
  .home-slide-bg img{
    height: 100%;
    width: auto;
  }
  .top-home .slick-prev:before, 
  .top-home .slick-next:before{
    font-size: 25px;
  }
}
@media screen and (max-width: 425px){
  .nav-item {
    margin-left: 30px;
    font-size: 14px;
  }  
  .header-top .phone {
    margin-left: 10px;
  }
  .benefits {
    padding: 30px 0 10px;
  }
  .benefits-wrap .slick-dots{
    display: block;
    position: absolute;
    bottom: 50px;
  }
  .products .product-price{
    display: none;
  }
  .product-section h1{
    margin-top: 33px;
  }
  .product-section .product-section-wave{
    bottom: 300px;
  }
  .testimonials-slide-top{
    padding: 10px;
  }
  .star .start-box{
    position: absolute;
    left: 10px;
    bottom: -30px;
  }
  .testimonials-slide-bottom {
    padding: 30px 10px 10px 10px;
  }  
  .social-row {
    width: 100%;
  }  
  footer .form-control+.input-group-addon:not(:first-child) {
    width: 120px;
  }
}
@media screen and (max-width: 320px){
  .benefits-wrap .slick-dots{
    bottom: 65px;
  }
  .product-section .product-section-wave{
    bottom: 380px;
  }
} 